@use '../utils/' as *;

.banner {
  min-height: 364px;
  @include flex(center);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
  &__content {
    @include flex($justify: space-between);
    box-shadow: 0px 0px 16px rgba(117, 117, 117, 0.2);
    border-radius: 2px;
    min-height: 204px;
    flex-direction: column;
    background-color: #fff;
    max-width: 389px;
    width: 100%;
    padding: 38px;
    h1 {
      font-weight: 400;
      font-size: 3.6rem;
      line-height: 42px;
      @include mobile {
        text-align: center;
      }
    }
    h4 {
      font-size: 1.4rem;
      font-weight: 400;
      line-height: 16px;
      color: #626262;
    }
  }
  &__content-footer {
    @include flex(center, space-between);
    gap: 16px;
    div {
      padding: 8px 16px;
      background-color: #262626;
      border-radius: 16px;
      color: #fff;
      font-size: 1.3rem;
      line-height: 15px;
    }
  }
}

.banner {
  @include mobile {
    min-height: 255px;
  }
  h1 {
    @include mobile {
      font-size: 2.4rem;
      line-height: 28px;
    }
  }
}

.banner__content {
  @include mobile {
    width: 95%;
    padding: 24px 49px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
  }
}

.banner__content-footer {
  @include mobile {
    justify-content: center;
    flex-direction: column;
  }
}
