@use '../utils/' as *;

.footer {
  flex: 0 0 auto;
  background-color: $black;
  padding: 68px 0 52px 0;
  hr {
    background-color: #fff;
    height: 1px;
    width: 100%;
    opacity: 0.4;
    margin: 40px 0;
  }
  &__text {
    font-size: 1.1rem;
    line-height: 13px;
    color: #fff;
    &:hover {
      color: #fff;
    }
  }
}
